@font-face {
  font-family: "SF Pro Display";
  src: url("../src/assets/pro/SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
  font-family: "Light";
  src: url("../src/assets/pro/light.ttf");
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;

  .box {
    background: #ffffff;
    width: 572px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .first {
      display: flex;
      justify-content: center;
      background: #9c9fa8;
      width: 572px;
      height: 45px;
      background: #f5f6fa;
      border-radius: 10px 10px 0px 0px;
      h1 {
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #222222;
        margin-top: 11px;
      }
    }
    .second {
      display: flex;
      margin-top: 44px;
      gap: 60px;
      justify-content: center;
      .left {
        h1 {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 100%;
          color: #222222;
        }
        p {
          font-family: "Light";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #7f8a95;
          width: 193px;
          height: 33px;
          margin-top: 6px;
        }
      }
      .right {
        img {
          margin-top: 10px;
          width: 130px;
        }
      }
    }
    .red {
      width: 409px;
      height: 144px;
      background: #fae5e3;
      border-radius: 5px;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .third {
      width: 409px;
      height: 144px;
      background: #eff3fe;
      border-radius: 5px;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top {
        img {
          margin-top: 47px;
        }
      }
      .bottom {
        h2 {
          font-family: "Light";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #577bec;
          margin-top: 8px;
        }
      }
    }
    .fourth {
      display: flex;
      gap: 10px;
      margin-top: 26px;
      margin-bottom: 20px;
      :nth-child(1) {
        width: 200px;
        height: 40px;
        background: #c7def4;
        border-radius: 4px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #124879;
      }
      :nth-child(2) {
        width: 200px;
        height: 40px;
        background: #e9ebf0;
        border-radius: 4px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #a1a1a6;
        border: none;
      }
    }
  }
  .files {
    display: flex;
    gap: 4px;
    margin-top: 30px;
    margin-right: auto;
    position: relative;
    left: 78px;
    width: 409px;

    @media (max-width: 580px) {
      margin-right: 0px !important;
      left: 0 !important;
      justify-content: center !important;
    }
    :nth-child(2) {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #001737;
    }
    :nth-child(3) {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #9d9d9d;
    }
  }
}
.import {
  width: 200px;
  height: 40px;
  background: #c7def4 !important;
  border-radius: 4px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #124879 !important;
  cursor: pointer;
  border: none;
}
.red-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ca3725;
}
.success {
  width: 409px;
  height: 144px;
  background: rgb(229, 248, 240);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  align-items: center;
  .top {
    img {
      margin-top: 47px;
    }
  }
  .bottom {
    h2 {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #577bec;
      margin-top: 8px;
    }
  }
}
.delet {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
